<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @app.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @app.desc %>
</p>

<p>
  <b>Icon:</b>
  <%= @app.icon %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
