%h2 Welcome
%p#page-intro
  What would you like to do?
%ul.shortcut-buttons-set
  %li
    = link_to raw("<span>#{image_tag("/images/admin/icons/paper_content_pencil_48.png")}<br>Add email</span>"), new_admin_email_path, :class => "shortcut-button"
.clear
.content-box
  .content-box-header
    %h3 Emails List
    %ul.content-box-tabs
      %li
        = link_to "All", admin_emails_path, :class => "default-tab"
    .clear
  .content-box-content
    .tab-content.default-tab
      %table
        %thead
          %tr
            %th Email Address
            %th Last send
            %th Manage
        %tfoot
          %tr
            %td{:colspan => 6}
              .pagination
                = will_paginate @emails, :param_name => "page", :previous_label => "&lt;&lt;", :next_label => "&gt;&gt;"
        %tbody
          - for email in @emails
            %tr
              %td
                = email.address
              %td
                = email.last_send.strftime("%Y-%M-%D %h:%m") if email.last_send
              %td
                = link_to image_tag("/images/admin/icons/pencil.png"), edit_admin_email_path(email), :title => "Edit"
                = nbsp(2)
                = link_to image_tag("/images/admin/icons/cross.png"), admin_email_path(email), :title => "Delete", :method => "delete", :confirm => "Are you sure ?"
