!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title= seo_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    %meta{'name' => "author", :content => "#{SITE_SETTINGS["author"]}"}
    = stylesheet_link_tag "admin/reset", "admin/style", "admin/invalid"
    = javascript_include_tag "jquery", "facebox", "jquery.wysiwyg", "rails", "admin"
    = csrf_meta_tag
    = yield :header
  - if action_name == "login"
    %body#login
      = yield
  - else
    %body
      #body-wrapper
        #sidebar
          #sidebar-wrapper
            %h1#sidebar-title
              = link_to "Admin Panel", dashboard_path
            = link_to image_tag("/images/admin/logo.png", :id => "logo"), dashboard_path
            #profile-links
              Hello
              / = link_to "open messages box", "#message", :rel => "modal", :title => "Messages Box"
              %br
              %br
              = link_to "View Site", root_path, :target =>"_blank"
              |
              = link_to "Sing Out", logout_path
            %ul#main-nav
              %li
                = link_to "Dashboard", dashboard_path, :class => "nav-top-item no-submenu #{'current' if params[:controller] == "Admin::Main" and params[:action] == "dashboard"}"
              %li
                = link_to "Apps", admin_apps_path, :class => "nav-top-item #{'current' if params[:controller] == "admin/apps"}"
                %ul
                  %li
                    =link_to "All Apps", admin_apps_path, :class => "#{'current' if params[:controller] == "admin/apps" and params[:action] == "index"}"
                  %li
                    =link_to "Create new App", new_admin_app_path, :class => "#{'current' if params[:controller] == "admin/apps" and params[:action] == "new"}"
              %li
                = link_to "Emails", admin_emails_path, :class => "nav-top-item #{'current' if params[:controller] == "admin/emails"}"
                %ul
                  %li
                    =link_to "All Subscribe Emails", admin_emails_path, :class => "#{'current' if params[:controller] == "admin/emails" and params[:action] == "index"}"
                  %li
                    =link_to "Add subscribe email", new_admin_email_path, :class => "#{'current' if params[:controller] == "admin/emails" and params[:action] == "new"}"
                
            #messages.hide
              %h3
                Messages Box
              %p
                it's only for test
        #main-content
          - unless flash[:notice].nil?
            .notification.attention.png_bg
              = link_to image_tag("/images/admin/icons/cross_grey_small.png", :title => "Close this notification", :alt => "close"), "#", :class => "close"
              %div
                = flash[:notice]
          .notification.information.png_bg.hide
            = link_to image_tag("/images/admin/icons/cross_grey_small.png", :title => "Close this notification", :alt => "close"), "#", :class => "close"
            %div
              it's a information
          - unless flash[:success].nil?
            .notification.success.png_bg
              = link_to image_tag("/images/admin/icons/cross_grey_small.png", :title => "Close this notification", :alt => "close"), "#", :class => "close"
              %div
                = flash[:success]
          .notification.error.png_bg.hide
            = link_to image_tag("/images/admin/icons/cross_grey_small.png", :title => "Close this notification", :alt => "close"), "#", :class => "close"
            %div
              it's a error
          = yield
          .clear
          #footer
            %small
              &copy 2011
              = link_to "Top", "#"