!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title= seo_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    %meta{'name' => "keywords", :content => "#{SITE_SETTINGS["keywords"]}"}
    %meta{'name' => "description", :content => "#{SITE_SETTINGS["description"]}"}
    %meta{'name' => "author", :content => "#{SITE_SETTINGS["author"]}"}
    = stylesheet_link_tag "style"
    = javascript_include_tag "jquery", "rails", "application"
    = csrf_meta_tag
    = yield :header
  %body
    .header
      .logo
        = image_tag("logo.png")
      %ul.nav
        %li= link_to raw("<span> </span>"), apps_path, :class => "iphone #{@on_iphone}"
        %li= link_to raw("<span> </span>"), ipad_apps_path, :class => "ipad #{@on_ipad}"
    .main
      .main-header
      .main-boddy
        = yield
      .main-footer
        .more-app-btn
          =link_to nbsp, more_apps_path
      .icons-div
        .icons
          =image_tag("icon_youtube.png")
          =image_tag("icon_vimeo.png")
          =image_tag("icon_facebook.png")
          =image_tag("icon_twitter.png")
          =image_tag("icon_feeds.png")
        .line
      .subscribe-div
        .subscribe-form
          .text
            Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!
          .input
            =text_field_tag :subscribe_mail, "enter your email address", :class => "input-field"
            =image_submit_tag("subscribe_btn.png", :class => "submit-btn")
          .notice.error
            please enter a valid email address

    .footer
      .copyright
        Copyright &copy; 2010 www.theAppBanana.com All rights reserved.

