!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title= seo_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    %meta{'name' => "keywords", :content => "#{SITE_SETTINGS["keywords"]}"}
    %meta{'name' => "description", :content => "#{SITE_SETTINGS["description"]}"}
    %meta{'name' => "author", :content => "#{SITE_SETTINGS["author"]}"}
    = stylesheet_link_tag "style"
    = javascript_include_tag "jquery", "rails", "application"
    = csrf_meta_tag
    = yield :header
  %body
    .header
      .logo
        = image_tag("logo.png")
      %ul.nav
        %li= link_to raw("<span> </span>"), apps_path, :class => "iphone #{@on_iphone}"
        %li= link_to raw("<span> </span>"), ipad_apps_path, :class => "ipad #{@on_ipad}"
    .main
      .main-header
      .main-boddy
        = yield
        #more-apps-div
      .main-footer
        - if ["index", "ipad"].include?(action_name)
          .more-app-btn
            = link_to nbsp, more_apps_path(:app_type => @app_type, :offset => SITE_SETTINGS["each_show"]), :remote => true, :method => :post, :id => "more_app_btn"
      .icons-div
        .icons
          =image_tag("icon_youtube.png")
          =image_tag("icon_vimeo.png")
          =image_tag("icon_facebook.png")
          =image_tag("icon_twitter.png")
          =image_tag("icon_feeds.png")
        .line
      .subscribe-div
        .subscribe-form
          .text
            Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!
          - form_tag subscribe_apps_path, :remote => true do
            .input
              =text_field_tag :subscribe_mail, "enter your email address", :id => "email_input", :class => "input-field", :onblur=>"addText(this);", :onfocus=>"clearText(this);"
              =image_submit_tag("subscribe_btn.png", :class => "submit-btn")
          .notice.error.hide#subscribe_error
            please enter a valid email address
          .notice.success.hide#subscribe_success
            thanks, your address has been added

    .footer
      .copyright
        Copyright &copy; 2010 www.theAppBanana.com All rights reserved.

